<!DOCTYPE HTML>

<html ng-app="app1" ng-init="person={fName: 'Derek',
lName:'Banas'}; capitals = [{city:'Montgomery', state:
'Alabama'},{city:'Juneau', state:'Alaska'},{city:'Phoenix,
state:'Arizona'}]">

<head>
    <title>Angular project</title>
</head>

<body>
    <div ng-controller="ctrl1">
        <span>Values:</span>
        <input type="text" ng-model="first" />
        <input type="text" ng-model="second" />

        <button ng-click="updateValue()">Sum</button>
        <br> {{calculation}}
    </div>


    <script src=" https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.4/angular.min.js"></script>
    <script src="js/exam1.js"></script>
</body>

</html>